@font-face {
    font-family: 'MyCustomFont';
    src: url('Fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont';

}
.last-updated {
    font-size: 14px;
    color: #bbb;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #222;
    border-radius: 5px;
}

.last-updated span {
    font-weight: bold;
    color: #00bcd4;
}
